ul li{list-style: none;}
a{text-decoration: none;}
button{cursor: pointer;}
/*--------------GLOBAL STILE----------------*/
:root{
--iris:#4D5AE5;
--ocean:#404BBF;
--navi-blue:#2E2F42;
--green:#31D0AA;
--slate:#434455;
--ligth-slate:#8E8F99;
--cornflower: #E7E9FC;
--cloude:#F4F4FD;
--write-title:#FFFFFF;
}

body{
font-family: 'Roboto';
color: var(--navi-blue);
}

.link{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
}
/*-----------------HEDER-----------------*/

.head {
}
.logo {
font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 1.3;
letter-spacing: 0.03em;
text-transform: uppercase;
color:var(--iris);
}

.logo-second {
    color: var(--navi-blue);
}
.head-navigation {
}

.head-navigation-list-link {
font-weight: 500;
line-height:1.5;
letter-spacing: 0.02em;
color: var(--navi-blue);

}

.head-navigation-list-link:hover, :focus, :active{
color: var(--ocean);
}

.contacts {
}

.contacts-mail {
}
.contacts-mail-link {
/* +11 (000) 111-11-11 */
color:var(--slate);
}

.contacts-mail-link:hover,:focus {
color: var(--ocean);
}
     
.contacts-tel {
}
.contacts-tel-link {
color:var(--slate);
}

.contacts-tel-link:hover,:focus {
color: var(--ocean);
}

/*------------------HERO-------------------*/

.hero {
background: var(--navi-blue);
}
.hero-header {
/* Header 1 */
font-weight: 700;
font-size: 56px;
line-height: 1.1;
/* or 107% */
text-align: center;
letter-spacing: 0.02em;
color:var(--write-title);
}
.hero-btn {
/* IRIS */
background: var(--iris);
border-radius: 4px;
}

.hero-btn:hover{
    background:var(--ocean);
}
.hero-btn:focus{
    background:var(--ocean);
}



.hero-btn-text {
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
color: var(--write-title);

}

/*-----------------ABOUT------------------*/

.about {
}
.about-header {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}
.about-list {
text-decoration: none;
}

.about-list-header{
font-weight: 500;
font-size: 20px;
line-height:1.2;
letter-spacing: 0.02em;
}
.about-list-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color:var(--slate);

}

/*-------------PRODUCT-------------*/

.product {
}
.product-header {
font-weight: 700;
font-size: 36px;
line-height:1.1;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
}
.product-content-img {
}

/*---------------TEAMCART----------------*/

.teamcart {


background:var(--cloude);
}
.teamcart-header {
font-weight: 700;
font-size: 36px;
line-height: 1.1;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
}
.teamcart-content {
}
.teamcart-content-img {
}
.teamcart-content-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}
.teamcart-content-text{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--slate);

}

/*------------------FOOTER---------------*/

.ftr {
background-color: var(--navi-blue);
}
.ftr-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;

/* CORNFLOWER */

color:var(--cornflower);
}
.ftr span{
color: var(--cloude);
}
/*-------------PORTFOLIO NAV---------------*/
.main-nav {
}
.main-nav-elment {
}
.main-nav-elment-btn {
font-weight: 500;
line-height: 1.5;
color: var(--iris);
}

.main-nav-elment-btn:hover, :focus{
color: var(--write-title);
background-color:var(--ocean);

}
/*-------------- PORTFOLIO CONTENT---------------*/
.content {
}
.content-title {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;  
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}
.content-list {

}
.content-list-element {
}
.content-img {
}
.content-subtitle {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
}
.content-text {
font-size: 16px;
line-height: 1.2;
letter-spacing: 0.02em;
color:var(--slate);
}