
.head {
}
.logo {
/* Web */


width: 44px;
height: 24px;

font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 24px;

/* IRIS */

color: #4D5AE5;

}
.logo-second {
}
.head-navigation {
}
.head-navigation-list-link {
}
.contacts {
}
.contacts-mail {
}
.contacts-mail-link {
}
.contacts-tel {
}
.contacts-tel-link {
}
.hero {
}
.hero-header {
}
.hero-btn {
}
.hero-btn-text {
}
.about {
}
.about-header {
}
.about-list {
}
.about-list-text {
}
.product {
}
.product-header {
}
.product-content-img {
}
.teamcart {
}
.teamcart-header {
}
.teamcart-content {
}
.teamcart-content-img {
}
.teamcart-content-subtitle {
}
.ftr {
}
.ftr-text {
}

.main-nav {
}
.main-nav-elment {
}
.main-nav-elment-btn {
}
.content {
}
.content-title {
}
.content-list {
}
.content-list-element {
}
.content-img {
}
.content-subtitle {
}
.content-text {
}