
.head {
}
.logo {
/* Web */


width: 44px;
height: 24px;

font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 24px;

/* identical to box height, or 133% */

letter-spacing: 0.03em;
text-transform: uppercase;

/* IRIS */

color: #4D5AE5;

text-decoration: none;


}
.logo-second {
/* Studio */

width: 71px;
height: 24px;

/* NAVY BLUE */

color: #2E2F42;

}
.head-navigation {
 text-decoration: none;

}
.head-navigation-list-link {
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
        
    letter-spacing: 0.02em;
        
     /* NAVY BLUE */
        
    color: #2E2F42;
    }
.contacts {
}
.contacts-mail {
}
.contacts-mail-link {
/* +11 (000) 111-11-11 */
text-decoration: none;
font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

letter-spacing: 0.02em;

/* SLATE */

color: #434455;

}
.contacts-tel {
}
.contacts-tel-link {
/* +11 (000) 111-11-11 */
text-decoration: none;
font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

letter-spacing: 0.02em;

/* SLATE */

color: #434455;
}
.hero {
/* Dark-bg */


position: absolute;
width: 1440px;
height: 600px;
left: 0px;
top: 72px;

/* NAVY BLUE */

background: #2E2F42;
}
.hero-header {

/* Header 1 */

font-family: 'Roboto';
font-weight: 700;
font-size: 56px;
line-height: 60px;
/* or 107% */

text-align: center;
letter-spacing: 0.02em;

color: #FFFFFF;
}
.hero-btn {
}
.hero-btn-text {
}
.about {
}
.about-header {
}
.about-list {
}
.about-list-text {
}
.product {
}
.product-header {
}
.product-content-img {
}
.teamcart {
}
.teamcart-header {
}
.teamcart-content {
}
.teamcart-content-img {
}
.teamcart-content-subtitle {
}
.ftr {
}
.ftr-text {
}

.main-nav {
}
.main-nav-elment {
}
.main-nav-elment-btn {
}
.content {
}
.content-title {
}
.content-list {
}
.content-list-element {
}
.content-img {
}
.content-subtitle {
}
.content-text {
}