ul li{list-style: none;}
a{text-decoration: none;}
button{cursor: pointer;}

.head {
}
.logo {
font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 24px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
}
.logo-second {
color: #2E2F42;

}
.head-navigation {
}
.head-navigation-list-link {
font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #2E2F42;
}
.contacts {
}
.contacts-mail {
}
.contacts-mail-link {
/* +11 (000) 111-11-11 */
text-decoration: none;
font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.02em;
color: #434455;
}
.contacts-tel {
}
.contacts-tel-link {
font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #434455;
}
.hero {

/* NAVY BLUE */

background: #2E2F42;
}
.hero-header {

/* Header 1 */

font-family: 'Roboto';
font-weight: 700;
font-size: 56px;
line-height: 60px;
/* or 107% */

text-align: center;
letter-spacing: 0.02em;

color: #FFFFFF;
}
.hero-btn {
/* IRIS */

background: #4D5AE5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}
.hero-btn-text {
/* Order Service */
/* Button Text */

font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
letter-spacing: 0.04em;
color: #FFFFFF;

}
.about {
}
.about-header {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}
.about-list {
text-decoration: none;
}

.about-list-header{
/* Strategy */


font-family: 'Roboto';
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
letter-spacing: 0.02em;

/* NAVY BLUE */

color: #2E2F42;

}
.about-list-text {
/* Our goal is to identify the business problem to walk away with the perfect and creative solution. */



/* Body */

font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */

letter-spacing: 0.02em;

/* SLATE */

color: #434455;

}
.product {
}
.product-header {
/* What are we doing */


font-family: 'Roboto';
font-weight: 700;
font-size: 36px;
line-height: 40px;
/* identical to box height, or 111% */

text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;

/* NAVY BLUE */

color: #2E2F42;
}
.product-content-img {
}
.teamcart {
/* CLOUD */

background: #F4F4FD;
}
.teamcart-header {
/* Our Team */

font-family: 'Roboto';
font-weight: 700;
font-size: 36px;
line-height: 40px;
/* identical to box height, or 111% */

text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;

/* NAVY BLUE */

color: #2E2F42;
}
.teamcart-content {
}
.teamcart-content-img {
}
.teamcart-content-subtitle {
/* Header 3 */

font-family: 'Roboto';
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */

letter-spacing: 0.02em;

/* NAVY BLUE */

color: #2E2F42;

}
.teamcart-content-text{

/* Body */

font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

letter-spacing: 0.02em;

/* SLATE */

color: #434455;

}

.ftr {
background-color: #2E2F42;
}
.ftr-text {
/* Increase the flow of customers and sales for your business with digital marketing & growth solutions. */

/* Body */

font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */

letter-spacing: 0.02em;

/* CORNFLOWER */

color: #E7E9FC;
}

.main-nav {
}
.main-nav-elment {
}
.main-nav-elment-btn {
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #4D5AE5;
}

.main-nav-elment-btn:hover{
color: #FFFFFF;
background-color: #404BBF;

}

.main-nav-elment-btn:focus{
    color: #FFFFFF;
    background-color: #404BBF;
    
    }
.content {
}
.content-title {
position: absolute;
width: 1px;
height: 1px;
margin: -1px;
border: 0;
padding: 0;  
white-space: nowrap;
clip-path: inset(100%);
clip: rect(0 0 0 0);
overflow: hidden;
}
.content-list {

}
.content-list-element {
}
.content-img {
}
.content-subtitle {
}
.content-text {
}