*ul,ol,li{
text-decoration: none;
}

*a{
text-decoration: none;
}


.head {
}
.logo {
/* Web */


width: 44px;
height: 24px;

font-family: 'Raleway';
font-weight: 800;
font-size: 18px;
line-height: 24px;

/* identical to box height, or 133% */

letter-spacing: 0.03em;
text-transform: uppercase;

/* IRIS */

color: #4D5AE5;

text-decoration: none;


}
.logo-second {
/* Studio */

width: 71px;
height: 24px;

/* NAVY BLUE */

color: #2E2F42;

}
.head-navigation {
 text-decoration: none;

}
.head-navigation-list-link {
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
        
    letter-spacing: 0.02em;
        
     /* NAVY BLUE */
        
    color: #2E2F42;
    }
.contacts {
}
.contacts-mail {
}
.contacts-mail-link {
/* +11 (000) 111-11-11 */
text-decoration: none;
font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

letter-spacing: 0.02em;

/* SLATE */

color: #434455;

}
.contacts-tel {
}
.contacts-tel-link {
/* +11 (000) 111-11-11 */
text-decoration: none;
font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

letter-spacing: 0.02em;

/* SLATE */

color: #434455;
}
.hero {

/* NAVY BLUE */

background: #2E2F42;
}
.hero-header {

/* Header 1 */

font-family: 'Roboto';
font-weight: 700;
font-size: 56px;
line-height: 60px;
/* or 107% */

text-align: center;
letter-spacing: 0.02em;

color: #FFFFFF;
}
.hero-btn {
/* IRIS */

background: #4D5AE5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}
.hero-btn-text {
/* Order Service */
/* Button Text */

font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
letter-spacing: 0.04em;
color: #FFFFFF;

}
.about {
}
.about-header {
}
.about-list {
text-decoration: none;
}

.about-list-header{
/* Strategy */


font-family: 'Roboto';
font-weight: 500;
font-size: 20px;
line-height: 24px;
/* identical to box height, or 120% */
letter-spacing: 0.02em;

/* NAVY BLUE */

color: #2E2F42;

}
.about-list-text {
/* Our goal is to identify the business problem to walk away with the perfect and creative solution. */



/* Body */

font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */

letter-spacing: 0.02em;

/* SLATE */

color: #434455;

}
.product {
}
.product-header {
}
.product-content-img {
}
.teamcart {
}
.teamcart-header {
}
.teamcart-content {
}
.teamcart-content-img {
}
.teamcart-content-subtitle {
}
.ftr {
}
.ftr-text {
}

.main-nav {
}
.main-nav-elment {
}
.main-nav-elment-btn {
}
.content {
}
.content-title {
}
.content-list {
}
.content-list-element {
}
.content-img {
}
.content-subtitle {
}
.content-text {
}